<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Asap:wght@500&family=Barlow+Condensed:wght@500&family=Spartan:wght@500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>Carga de productos</title>
</head>

<body>
    <a href="/" class="volver">
        <h2 class = "h2create">Volver a la página principal</h2>
    </a>
    <form method="POST" enctype="multipart/form-data" class="formCreate" onsubmit="return functionValidation();">
        <h1 class="h1create">Cargar nuevo producto</h1>
        <h3 class="h3create">Producto</h4>
            <div class="ingenioso">
                <input type="text" name="name" id="name" class="inputCarga">
                <small style="color: red">
                    <%= (typeof errorsCreate !='undefined' && errorsCreate.name) ? errorsCreate.name.msg : '' %>
                </small>
            </div>
            <h3 class="h3create">Descripcion</h4>
                <div class="ingenioso">
                    <input type="text" name="description" id="description" class="inputCarga">
                    <small style="color: red">
                        <%= (typeof errorsCreate !='undefined' && errorsCreate.description) ?
                            errorsCreate.description.msg : '' %>
                    </small>
                </div>
                <h3 class="h3create">Precio</h4>
                    <div class="ingenioso">
                        <input type="text" name="price" id="price" class="inputCarga">
                        <small style="color: red">
                            <%= (typeof errorsCreate !='undefined' && errorsCreate.price) ? errorsCreate.price.msg : ''
                                %>
                        </small>
                    </div>
                    <h3 class="h3create">Stock</h4>
                        <div class="ingenioso">
                            <input type="text" name="quantity" id="quantity" class="inputCarga">
                            <small style="color: red">
                                <%= (typeof errorsCreate !='undefined' && errorsCreate.quantity) ?
                                    errorsCreate.quantity.msg : '' %>
                            </small>
                        </div>
                        <h3 class="h3create">Coleccion</h4>
                            <div class="ingenioso">
                                <select name="coleccion" type="Seleccionar coleccion">
                                    <% if (typeof coleccion !="undefined" ) { %>
                                        <% for(let i=0; i< coleccion.length; i++) {%>
                                            <option value=<%=coleccion[i].id %>><%= coleccion[i].name %>
                                            </option>
                                            <% } %>
                                                <% } %>
                                </select>
                            </div>
                            <br>
                            <div>
                            <input type="file" name="images" id="images" accept="image/jpg, image/png, image/jpeg">
                            <small style="color: red">
                            </small>
                            </div>
                            <br>
                            <button class="buttonCarga">Cargar producto</button>
    </form>

    <script type="text/javascript">
        var txtName = document.getElementById("name");
        var txtDesc = document.getElementById("description");
        var txtPrice = document.getElementById("price");
        var txtQuant = document.getElementById("quantity");
        var txtFile = document.getElementById("images")


        function functionField(param) {
            if (param.value == "" || param.value == undefined) {
                param.parentElement.getElementsByTagName('small')[0].innerHTML = "Este campo es obligatorio";
                return false;
            } else {
                param.parentElement.getElementsByTagName('small')[0].innerHTML = "";
                return true;
            }
        }

        function functionValidation() {
            let result = true;

            if (!functionField(txtName)) {
                result = false
            }
            if (!functionField(txtDesc)) {
                result = false
            }
            if (!functionField(txtPrice)) {
                result = false
            }
            if (!functionField(txtQuant)) {
                result = false
            }
            if(!functionField(txtFile)){
                result = false 
            }

            return result;
        }



    </script>
</body>

</html>