<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Carga de productos</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data" class="formCreate" onsubmit="return functionValidation();">
        <h1>Carga de producto nuevo</h1>
        <h3 class="h3create">Producto</h4>
        <div class="ingenioso">
        <input type="text" name="name" id="name">
        <small style="color: red">
            <%= (typeof errorsCreate != 'undefined' && errorsCreate.name) ? errorsCreate.name.msg : '' %>
        </small>
        </div>
        <h3 class="h3create">Descripcion</h4>
        <div class="ingenioso">
        <input type="text" name="description" id="description">
        <small style="color: red">
            <%= (typeof errorsCreate != 'undefined' && errorsCreate.description) ? errorsCreate.description.msg : '' %>
        </small>
        </div>
        <h3 class="h3create">Precio</h4>
        <div class="ingenioso">
        <input type="text" name="price" id="price">
        <small style="color: red">
            <%= (typeof errorsCreate != 'undefined' && errorsCreate.price) ? errorsCreate.price.msg : '' %>
        </small>
        </div>
        <h3 class="h3create">Stock</h4>
        <div class="ingenioso">
        <input type="text" name="quantity" id="quantity">
        <small style="color: red">
            <%= (typeof errorsCreate != 'undefined' && errorsCreate.quantity) ? errorsCreate.quantity.msg : '' %>
        </small>
        </div>
        <h3 class="h3create">Coleccion</h4>
            <div class="ingenioso3">
                <select name="coleccion" type="Seleccionar coleccion">
                    <% if (typeof coleccion != "undefined") { %> 
                <% for(let i=0; i< coleccion.length; i++) {%> 
                    <option value=<%=coleccion[i].id %>><%= coleccion[i].name %></option>
                    <% } %>
                    <% } %>
                </div>
        <input type="file" name="images" id="images">
        <button>Cargar producto</button>
    </form>

    <script type="text/javascript">
        var txtName = document.getElementById("name");
        var txtDesc = document.getElementById("description");
        var txtPrice = document.getElementById("price");
        var txtQuant = document.getElementById("quantity");
        var txtCollection = document.getElementById("collection")

       
        function functionField(param){
            if(param.value == "" || param.value == undefined){
                param.parentElement.getElementsByTagName('small')[0].innerHTML = "Este campo es obligatorio";
                return false;
            } else{
                param.parentElement.getElementsByTagName('small')[0].innerHTML = "";
                return true;
            }
        }
        
        function functionValidation() {
            let result = true;
            
            if(!functionField(txtName)){
                result = false
            }
            if(!functionField(txtDesc)){
                result = false 
            }
            if(!functionField(txtPrice)){
                result = false 
            }
            if(!functionField(txtQuant)){
                result = false 
            }
            if(!functionField(txtCollection)){
                result = false 
            }
            return result;
        }



    </script>
</body>
</html>