<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Editar producto</title>
</head>
<body>
    
    
            <form action="/detail/<%= detail.id %>/?_method=PUT" method="POST" class="formCreate" onsubmit="return functionValidation();">
                <h1>Editar un Producto</h1>
                <div>
                    <label for="">Producto</label>
                    <input type="text" name="name" id="name" value="<%= detail.name%>">
                    <small style="color: red">
                        <%= (typeof errorsEdit != 'undefined' && errorsEdit.quantity) ? errorsEdit.quantity.msg : '' %>
                    </small>
                </div>
                <div>
                    <label for="message">Precio</label>
                    <input type="text" name="price" id="price" value="<%= detail.price%>">
                    <small style="color: red">
                        <%= (typeof errorsEdit != 'undefined' && errorsEdit.price) ? errorsEdit.price.msg : '' %>
                    </small>
                </div>
                <button type="submit" class="button">Editar</button>
            </form>
    
            <script type="text/javascript">
                var txtName = document.getElementById("name");
                var txtPrice = document.getElementById("price");
        
               
                function functionField(param){
                    if(param.value == "" || param.value == undefined){
                        param.parentElement.getElementsByTagName('small')[0].innerHTML = "Este campo es obligatorio";
                        return false;
                    } else{
                        param.parentElement.getElementsByTagName('small')[0].innerHTML = "";
                        return true;
                    }
                }
                
                function functionValidation() {
                    let result = true;
                    
                    if(!functionField(txtName)){
                        result = false
                    }
                    if(!functionField(txtPrice)){
                        result = false 
                    }
                    return result;
                }
        
        
        
            </script>

</body>
</html>