<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dead Fellas | Producto </title>
        <div class="envios">
            <b>ENVÍO GRATIS A PARTIR DE $8.000</b>
            </div>
    <%- include('./partials/head') %> 

<body>
    <div class="btn-whatsapp">
        <a href="https://api.whatsapp.com/send?phone=5199999999" target="_blank">
        <img src="http://s2.accesoperu.com/logos/btn_whatsapp.png" width="40" alt="">
        </a>
        </div>
    <div class="container">
       <div class="navbar">
          <div class="logo">
            <a title="Dead Fellas" href="http://localhost:3000/"><img src="/images/logo/lodoDef.jpg" alt="Dead Fellas" width="200"/></a>
    </div>
   <nav>
        <ul id="MenuItems">
            <li><a href="" class = "carrito">BUSCAR</a></li>
            <li><a href="" class = "carrito">MI CUENTA</a></li>
            <li><a href="http://localhost:3000/productsCart" class = "carrito"><i class="fa fa-shopping-cart" aria-hidden="true"></i> </a></li>
        </ul>
    </nav>
    <img src="/images/logo/menu.png" class="menu-icon" onclick="menutoggle()">
   </div>
  </div> 

  <!-------- Unico Producto -------->



  <div class="small-container1 producto-unico">
      <div class="row">
          <div class="col-2">
              <img src="../images/productos/<%=detail.images%>" width="100%" id="productImg">
              
              <!-- <div class="small-img-row">
                  <div class="small-img-col">
                      <img src="images/productos/detalleprod2.jpg" width="100%" class="small-img">
                  </div>
                  <div class="small-img-col">
                    <img src="images/productos/detalleprod3.jpg" width="100%" class="small-img">
                </div>
                <div class="small-img-col">
                    <img src="images/productos/detalleprod4.jpg" width="100%" class="small-img">
                </div>
              </div> -->

          </div>
          <form action="/comprar/<%=detail.id %>" method="POST" enctype="multipart/form-data" class="formCreate">
          <div class="col-2 productInfo" >
              <p></p>
              <p></p>
              <h1><%=detail.name%></h1>
              <h4>$<%=detail.price%></h4>
              <p class="unicocolor" title="Producto de edición limitada. Color único.">Color: Único</p>

              <div class="d-flex justify-content-center row align-items-center">
              <select class="col-6 col-md-4">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
              </select>
              <button>Agregar al carrito</button>
            </div>
              <h3>Descripción</h3>
              <br>
              <p><%=detail.description%></p>
          </div>
        </form>
      </div>
  </div>

 <!-------- Titulo -------->


    <div class="row-2">
        <h2 class="h2-detail">Productos sugeridos</h2>
    </div>


 
 <!-------- Productos -------->

<div class="small-container1">


    <div class="row">
        <div class="col-2">
            <img src="images/productos/gorra.jpg">
            <h4>REMERA MATRIX DARK ACID</h4>
            <p>$2.590</p>
        </div>
        <div class="col-2">
            <img src="images/productos/jacket.jpg">
            <h4>REMERA CRYPTOCHILD </h4>
            <p>$2.590</p>
        </div>
        <div class="col-2">
            <img src="images/productos/SWET.jpg">
            <h4>REMERA SPITFIRE </h4>
            <p>$2.590</p>
        </div>
        <div class="col-2">
            <img src="images/productos/remera 2.jpg">
            <h4>REMERA SICK</h4>
            <p>$2.590</p>
        </div>

    </div>
  </div>


<!-------- FOOTER -------->

<<%- include('./partials/scripts') %> 

<!-- js para menu toggle -->
<script>
    var MenuItems = document.getElementById("MenuItems");

    MenuItems.style.maxHeight = "0px";

    function menutoggle() {
        if(MenuItems.style.maxHeight == "0px")
        {
            MenuItems.style.maxHeight = "200px";
        } else {
            MenuItems.style.maxHeight = "0px";
        }
    }

</script>

</body>
</html>