<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Products</title>
</head>
<body>
    

    <% for (let i= 0; i < vistaAdmin.length; i++){ %>
        <div class= "note">
            <h2><%= vistaAdmin[i].name %> </h2>
            <p> <%= vistaAdmin[i].price %> </p>
            <img src="images/productos/<%=vistaAdmin[i].images%>">

            <div class="edit">
                <a href="/detail/<%= vistaAdmin[i].id %> ">EDITAR</i></a>
                <form action="/delete/<%= vistaAdmin[i].id %>/?_method=DELETE" method="POST">
                    <button type="submit" value="borrar">BORRAR</button>
                </form>
            </div>
        </div>
        <% }  %> 

</body>
</html>